@media (min-width: 960px) and (max-width: 1199px){
    .container-fluid{
        width: 90%;
    }
}
@media (min-width:1200px) {
    .container-fluid{
        width: 90%;
    }
}

body{
    font-size: 15px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    background-color: #f9f9f9;
}

.mainpage{
    padding-top: 10px;
    min-height: calc(100vh - 115px);
    margin-bottom: -40px;    /* Equal to height of footer */
    background-color: #ffffff;
}

.pagefooter {
  padding: 10px 0;
  color: #777;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  height:40px;
}

.push {
  height: 40px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

td {
    vertical-align: middle !important;
}

.margin10{
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin20{
    margin-top: 10px;
    margin-bottom: 10px;
}



li{
    line-height: 25px;
}

.empty{
    height: 50px;
}

.link{
    background: url(/img/link.jpg) 5px center no-repeat;
    padding-left: 20px;
    border-bottom: 1px #c0c0c0 dashed;
    height: 30px;
    line-height: 30px;
}

/* 导航栏 */
.nav-header {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #cdddeb;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.nav .active {
  color: #fff;
  background-color: #387dbe;
}
.nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}